// =============================================================================
// Variables
// =============================================================================
// This file contains all the variables used throughout the project.



//reds
$red-900: #170202;
$red-800: #450707;
$red-700: #740C0C;
$red-600: #A21111;
$red-500: #D01515;
$red-400: #EA2F2F;
$red-300: #EE5D5D;
$red-200: #F38B8B;
$red-100: #F8BABA;
$red-00: #FDE8E8;

//White
$white:white;

//Grays
$black:#1E251F;

$gray-700:#211919;
$gray-600:#3C3434;
$gray-500:#4A4444;
$gray-400:#655E5E;
$gray-300:#7C7A7A;
$gray-200:#A6A5A5;
$gray-100:#D0D0D0;
$gray-00:#F3F3F3;


////////////////////////
//FONT SIZES
////////////////////////

$F-XXXL: 6.4rem;
$F-XXL: 4rem;
$F-XL: 3.2rem;
$F-L: 2.4rem;
$F-M:1.872rem;
$F-S:1.6rem;
$F-XS:1.328rem;
$F-XXS:1.072rem;