.add-place {
    display: grid;
    grid-template-columns: 1fr;
    @include container; // Container mixin for consistent layout
    margin-top: 8.4rem;
    gap: 2rem;

    @include respond(xl-large) {
        grid-template-columns: 1fr 3fr;
    }

    @include respond(xx-large) {
        grid-template-columns: 1fr 3fr;
    }

    &_sidebar {
        display: none;
        flex-direction: column;
        gap: 4.8rem;
        padding: 4.8rem;
        width: 100%;
        position: sticky;
        top: 2.4rem;
        height: fit-content;
        background-color: $red-00;

        @include respond(xl-large) {
            display: flex;
        }

        @include respond(xx-large) {
            display: flex;
        }

        a {
            color: $gray-300;
            font-size: $F-S;
            font-weight: 600;
            text-decoration: none;
            transition: color .3s;

            &:hover {
                color: $red-900;
            }
        }
    }

    &_main {
        display: flex;
        flex-direction: column;
        gap: 4.8rem;

        &--item {
            border: solid .1rem $gray-100;
            padding: 2.4rem;
            display: flex;
            flex-direction: column;
            gap: 3.6rem;
        }

        .side-by-side_inbut {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2.4rem;
        }

        .input--red {
            font-family: inherit;
            width: 100%;
            height: 3.6rem;
            border: none;
            border-bottom: .2rem solid $red-300;
            transition: all .3s;
            font-size: $F-XS;
            padding-left: 1.2rem;

            &:focus {
                outline: none;
                border-bottom: .2rem solid $red-700;

            }
        }

        textarea {
            outline: none;
            width: 100%;
            height: 26rem;
            border: .2rem solid $red-300;
            font-family: inherit;
            transition: all .3s;
            padding: 1.2rem;
            font-size: $F-XS;

            &:focus {
                outline: none;
                border: .2rem solid $red-700;
            }
        }

        &--highlight {
            .highlight-Checkboxes {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                row-gap: 3.6rem;

                @include respond(small) {
                    grid-template-columns: 1fr 1fr;
                }

                @include respond(medium) {
                    grid-template-columns: 1fr 1fr;
                }

                @include respond(large) {
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                }

                label {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: fit-content;
                    font-size: $F-XS;
                    cursor: pointer;

                    input {
                        margin-right: .8rem;
                    }
                }
            }
        }

        .location-map {
            &_title {
                font-size: $F-XS;
                color: $red-900;
                margin-bottom: 1.6rem;
            }

            #map {
                height: 40rem;
                width: 100%;
                margin-bottom: 1.6rem;
            }

            p {
                font-size: $F-XS;
                color: $gray-500;
            }
        }
    }

    .media-contanier {
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: 4.8rem;

        @include respond(small) {
            grid-template-columns: 1fr;
        }

        @include respond(medium) {
            grid-template-columns: 1fr;
        }

        &_title {
            font-size: $F-XS;
            color: $gray-700;
            margin-bottom: 1.6rem;
        }

    }

    .drop-area {
        width: 100%;
        height: 22rem;
        padding: 20px;
        text-align: center;
        border: 1px dashed $gray-300;
        background-color: $gray-00;
        cursor: pointer;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $gray-500;
        font-size: $F-L;
    }

    .drop-area.highlight {
        background-color: #e3f2fd;
    }

    .browse-btn {
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    #fileList {
        margin-top: 10px;
        font-size: 14px;
    }

    .add-menu_item {
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: 4.8rem;
        align-items: center;

        @include respond(small) {
            grid-template-columns: 1fr;
        }

        @include respond(medium) {
            grid-template-columns: 1fr;
        }

        @include respond(large) {
            grid-template-columns: 1fr 3fr;
        }

        &--info {
            display: flex;
            flex-direction: column;
            gap: 4.8rem;
        }
    }

    &_title {
        margin-bottom: 1.2rem;
        font-size: $F-M;
        color: $red-900;
        font-weight: 600;
    }
}

.add-menu_item {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 4.8rem;
    align-items: center;

    @include respond(small) {
        grid-template-columns: 1fr;
    }

    @include respond(medium) {
        grid-template-columns: 1fr;
    }

    @include respond(large) {
        grid-template-columns: 1fr 3fr;
    }

    &--info {
        display: flex;
        flex-direction: column;
        gap: 4.8rem;
    }
}

.media-contanier {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 4.8rem;

    @include respond(small) {
        grid-template-columns: 1fr;
    }

    @include respond(medium) {
        grid-template-columns: 1fr;
    }

    &_title {
        font-size: $F-XS;
        color: $gray-700;
        margin-bottom: 1.6rem;
    }

}

.media_added {
    &--title {
        color: $red-900;
        margin-bottom: 2.4rem;
    }

    &--fetured {
        margin-bottom: 4.8rem;

        &_img {
            position: relative;
            max-width: 50rem;
            height: 40rem;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            a {
                position: absolute;
                right: -1rem;
                top: -1rem;
                width: 3.6rem;
                height: 3.6rem;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 1.4rem;
                border-radius: 50%;
                text-decoration: none;
                font-size: $F-S;
                background-color: $red-600;
                color: $red-00;
                transition: all .3s;

                &:hover {
                    width: 4rem;
                    height: 4rem;
                    right: -1.4rem;
                    top: -1.4rem;
                    background-color: $red-700;
                }
            }
        }
    }

    &--gallery {
        &_gird {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
            gap: 2.4rem;
            margin-bottom: 4.8rem;

            &_item {
                position: relative;
                max-width: 20rem;
                height: 20rem;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                a {
                    position: absolute;
                    right: -1rem;
                    top: -1rem;
                    width: 3.6rem;
                    height: 3.6rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 1.4rem;
                    border-radius: 50%;
                    text-decoration: none;
                    font-size: $F-S;
                    background-color: $red-600;
                    color: $red-00;
                    transition: all .3s;

                    &:hover {
                        width: 4rem;
                        height: 4rem;
                        right: -1.4rem;
                        top: -1.4rem;
                        background-color: $red-700;
                    }
                }
            }
        }
    }
}

.media_added--gallery {
    &_grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
        gap: 2.4rem;

        &_item {
            position: relative;
            max-width: 30rem;
            height: 20rem;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            a {
                position: absolute;
                right: -1rem;
                top: -1rem;
                width: 3.6rem;
                height: 3.6rem;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 1.4rem;
                border-radius: 50%;
                text-decoration: none;
                font-size: $F-S;
                background-color: $red-600;
                color: $red-00;
                transition: all .3s;

                &:hover {
                    width: 4rem;
                    height: 4rem;
                    right: -1.4rem;
                    top: -1.4rem;
                    background-color: $red-700;
                }
            }
        }
    }
}

.add-menu_added {
    h3 {
        color: $red-900;
        margin-bottom: 2.4rem;
    }

    .add-menu_added-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
        gap: 2.4rem;

        &_item {
            position: relative;
            max-width: 30rem;
            height: 30rem;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &--info {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                justify-content: center;
                background-color: rgba(0, 0, 0, .5);
                color: white;
                padding: .8rem;

                h4 {
                    font-size: $F-XS;
                    margin-bottom: 1.2rem;
                }

                p {
                    font-size: $F-XXS;
                    margin-bottom: 1.2rem;
                }
            }

            a {
                position: absolute;
                right: -1rem;
                top: -1rem;
                width: 3.6rem;
                height: 3.6rem;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 1.4rem;
                border-radius: 50%;
                text-decoration: none;
                font-size: $F-S;
                background-color: $red-600;
                color: $red-00;
                transition: all .3s;

                &:hover {
                    width: 4rem;
                    height: 4rem;
                    right: -1.4rem;
                    top: -1.4rem;
                    background-color: $red-700;
                }
            }
        }
    }
}

.added-faqs {
    h3 {
        color: $red-900;
        margin-bottom: 2.4rem;
    }

    &-grid {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;

        &_item {
            position: relative;
            width: 100%;
            background-color: $red-00;
            border: 1px solid $red-500;
            padding: 1.2rem;

            a {
                position: absolute;
                right: -1rem;
                top: -1rem;
                width: 3.6rem;
                height: 3.6rem;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 1.4rem;
                border-radius: 50%;
                text-decoration: none;
                font-size: $F-S;
                background-color: $red-600;
                color: $red-00;
                transition: all .3s;


                &:hover {
                    width: 4rem;
                    height: 4rem;
                    right: -1.4rem;
                    top: -1.4rem;
                    background-color: $red-700;
                }
            }

            h4 {
                font-size: $F-XS;
                margin-bottom: 1.2rem;
            }

            p {
                font-size: $F-XXS;
                margin-bottom: 1.2rem;
            }
        }
    }
}